<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Previsçoes do Tempo
    </li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Clima atual por cidade</h5>
    <div class="card-body">
      <div class="form-group">
        <div style="display: flex">
          <input type="text" [(ngModel)]="requestCurrentWeather.city" id="buscaCidade" name="buscaCidade"
            #cidade="ngModel" class="form-control" placeholder="Digite a cidade desejada" />
          <input type="text" [(ngModel)]="requestCurrentWeather.state" id="buscaCidade" name="buscaCidade"
            #cidade="ngModel" class="form-control" placeholder="Digite o estado da cidade" />
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="getCurrentWeather()">
              Buscar
            </button>
          </td>
        </div>
        <table class="table" *ngIf="currentWeather && MostrarLista">
          <thead>
            <tr>
              <th scope="col">Temperatura</th>
              <th scope="col">Cidade</th>
              <th scope="col">Previsão do tempo</th>
              <th scope="col">Icone</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ currentWeather.temp }}</td>
              <td>{{ currentWeather.city_name }}</td>
              <td>{{ currentWeather.weather.description }}</td>
              <td>{{ currentWeather.weather.icon }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h5 class="card-header">Previsão dias Futuros</h5>
    <div class="card-body">
      <div class="form-group">
        <div style="display: flex">
          <input type="text" [(ngModel)]="requestForecastWeatherList.city" id="buscaCidade" name="buscaCidade"
            #cidade="ngModel" class="form-control" placeholder="Digite a cidade desejada" />
          <input type="text" [(ngModel)]="requestForecastWeatherList.country" id="buscaCidade" name="buscaCidade"
            #cidade="ngModel" class="form-control" placeholder="Digite a sigla do país desejado (Ex. BR)" />
          <input type="text" [(ngModel)]="requestForecastWeatherList.days" id="buscaCidade" name="buscaCidade"
            #cidade="ngModel" class="form-control" placeholder="Quantos dias de previsão (1-16 dias)" />
          <td>
            <button type="button" class="btn btn-warning btn-sm" (click)="getForecastWeather()">
              Previsão
            </button>
          </td>
        </div>
        <table class="table" *ngIf="weatherList && MostrarLista">
          <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Previsão do tempo</th>
              <th scope="col">Icone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let weatherList of weatherList">
              <td>{{ weatherList.weatherForecastDate }}</td>
              <td>{{ weatherList.weatherForecastDescription }}</td>
              <td>{{ weatherList.WeatherForecastIcon }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>